<div class="column">
  <%= render partial: 'edit_user_form', locals: { user: @user } %>
</div>

<div class="column">
  <p>
    add photo: <%= render partial: 'add_photo', locals: { user: @user, image: @image} %>
  </p>
</div>
